
/* ==========================================================================
   Media Queries - Comprehensive Responsive Adjustments
   ========================================================================== */

/* --------------------------------------------------------------------------
   Mobile Devices: 320px - 480px
   -------------------------------------------------------------------------- */

@media (max-width: 767px) {
 .nav-top{
    padding-top: 10px;
      box-sizing: border-box;   
         }
   p{
      font-size: 1.1rem;
    
    }
  .menu_label {
  font-size: 1rem;
  line-height: 2.5rem;
    width: 35%;
  max-height: 6vh;
  padding: 0 5px;
}
.menu_input[type=radio]:checked + .menu_label {
  width: 40%; 
  height:6vh;
}
.menu_input[type=radio]:checked + .menu_label .icon-container .faa {
   width: 100%;
    max-width: 95%; 
    margin-right: 1px;
}
   .menu_label:hover {
        margin: auto 5px;
      height: 90%;
      }
      .faa{
       width: 100%;
        max-width: 100%;
        max-height: 4.65vh;
       height: auto;
        transition: width 0.3s ease, max-height 0.3s ease;
        display: block;
        margin: auto 0;
        border-radius: 5px;
      }
      .menu_text {
        font-size: 1.15rem;
        padding: 0;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.3s;
        margin-top: auto;
        margin-bottom: auto;
       
      }
      .menu_label.active {
       width: 40%;
       height: 6vh;
       margin: auto 5px;
      }
  .menu_label.active .faa{ 
    width: 100%;
    max-width: 95%; 
    margin-right: 1px;
  }
   
  /* Fine-tuning for specific mobile breakpoints */

@media (min-width: 320px) and (max-width: 414px){
 .nav-bottom{
      margin: 0 0 3% 50%;
      height: 40%;
    padding-top: 2px;
    }
    .topSpan {
    font-size: 1.8rem;
}
   .glass{
         top: 9vh;
    height: calc(100vh - 3vh - 6vh - 7vh );
      } 
    .nav-top{
      margin: 0 36% 0 0;
      padding-top: 5px;
    }
    .bottomSpan {
    font-weight: bold;
    font-size: 1.65rem;
    white-space: nowrap;
}
   .custom-o{
      top: 7px;
      
      width: 2.4rem;
      margin: auto 0;
      height: 2.4rem;
   } 
     .faaa {
    height: auto;
    width: 100%;
    max-width: 36%;
     
   }
  .rightt {
    margin-left: 35%;
    width: 100%;
    max-width: 50%;
    white-space: nowrap;
}
     }
  @media (min-width: 415px) and (max-width: 600px) {
   
    .nav-bottom{
      margin: 0 0 3% 50%;
      height: 40%;
    }
    .topSpan {
    font-size: 1.8rem;
}
      .glass{
         top: 9vh;
    height: calc(100vh - 3vh - 6vh - 7vh );
      }
     .top-nav{ padding-top: 3px;
             
             }
    .nav-top{
      margin: 0 36% 0 0;
      padding-top: 3px;
    }
    .bottomSpan {
    font-weight: bold;
    font-size: 1.6rem;
    white-space: nowrap;
}
   .custom-o{
      top: 8px;
      
      width: 2.6rem;
      margin: auto 0;
      height: 2.6rem;
   } 
    .faaa {
    height: auto;
    width: 100%;
    max-width: 95%;}
  }
   @media (min-width: 601px) and (max-width: 767px) {
    .nav-bottom{
      margin: 0 3% 0 50%;
      height: 36%;
    }
      .glass{
         top: 9vh;
    height: calc(100vh - 3vh - 6vh - 7vh );
      }
    .topSpan {
    font-size: 2rem;
}
    .nav-top{
      margin: 0 26% 0 0;
      padding-top: 2px;
    }
    .bottomSpan {
    font-weight: bold;
    font-size: 1.8rem;
    white-space: nowrap;
}
   .custom-o{
      top: 5px;
      width: 3rem;
      margin: auto 0;
      height: 3rem;
   } 
   
  
}
   
@media (max-width: 330px) and (max-height: 600px){
 .top-nav{
    height: 8.5vh;
     padding-top: 10px;
      box-sizing: border-box;
   
 } 
   .topSpan {
    font-size: 1.4rem;
}
   .bottomSpan {
    font-size: 1.2rem;  
}
   .nav-bottom{
      margin: 0 0 3% 50%;
      height: 7vh;
      padding-top: 1px;
    }
   .nav-top{
      padding-top: 10px;
   }
    .custom-o{
      top: 4px;
      width: 2rem;
      margin: auto 0;
      height: 2rem;
   } 
   .glass{
    top: 8.5vh;
    height: calc(100vh - 4vh - 6vh - 7vh );
   }
   .bottom-nav{
      height: 8.5vh;
   }
   .faaa {
    height: auto;
    width: 100%;
    max-width: 35%;
     
   }
  .rightt {
    margin-left: 25%;
    width: 100%;
    max-width: 50%;
    white-space: nowrap;
}
      .menu_text {
        font-size: 0.95rem;
       
      }
    .menu_label {
  font-size: 1rem;
  line-height: 2rem;
    }
   .curved{
      top: 8vh;
   } 
}
 /* Base Mobile Styles for the .glass */
@media (min-width: 331px) and (max-width: 376px) and (min-height: 601px) and (max-height: 670px){
   .glass{
      top: 8.5vh;
    height: calc(100vh - 10vh - 6vh - 7vh ); 
   }
}
 
@media (min-width: 377px) and (max-width: 414px) and (min-height: 671px) and (max-height: 740px){
   .glass{
      top: 8.5vh;
    height: calc(100vh - 5vh - 6vh - 7vh ); 
   }
}  

  
}

 
/* --------------------------------------------------------------------------
   iPads, Tablets: 581px - 880px (Slightly increased sizes)
   -------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1024px){
 .menu_label {
  font-size: 1rem;
  line-height: 2.5rem;
    width: 35%;
  max-height: 6vh;
  padding: 0 5px;
}
.menu_input[type=radio]:checked + .menu_label {
  width: 40%; 
  height:6vh;
}
.menu_input[type=radio]:checked + .menu_label .icon-container .faa {
   width: 100%;
    max-width: 95%; 
    margin-right: 1px;
}
   .menu_label:hover {
        margin: auto 5px;
      height: 90%;
      }
      .faa{
       width: 100%;
        max-width: 100%;
        max-height: 4.65vh;
       height: auto;
        transition: width 0.3s ease, max-height 0.3s ease;
        display: block;
        margin: auto 0;
        border-radius: 5px;
      }
      .menu_text {
        font-size: 1.35rem;
        padding: 0;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.3s;
        margin-top: auto;
        margin-bottom: auto;
       
      }
      .menu_label.active {
       width: 40%;
       height: 6vh;
       margin: auto 5px;
      }
  .menu_label.active .faa{ 
    width: 100%;
    max-width: 95%; 
    margin-right: 1px;
  }
 .nav-bottom{
      margin: 0 0 3% 27.5%;
      height: 40%;
    }
    .topSpan {
    font-size: 2.35rem;
}  
     .top-nav{
        padding-top: 5px;     
       }
    .nav-top{
      margin: 0 36% 0 0;
      padding-top: 3px;
    }
    .bottomSpan {
    font-weight: bold;
    font-size: 2.5rem;
    white-space: nowrap;
}
   .custom-o{
      top: 8px;
      width: 3.2rem;
      margin: auto 0;
      height: 3.2rem;
   } 
   .faaa {
    height: auto;
    width: 100%;
    max-width: 30%;
   }  
  /* Fine-tuning for specific tablet breakpoints */


  @media (max-width: 831px){
     
  } 
   
     @media (min-width: 832px) and (max-width: 947px) {
    .bottomSpan {
    font-weight: bold;
    font-size: 2.7rem;
    white-space: nowrap;
}
    .topSpan {
    font-size: 2.9rem;
}
        .custom-o{
      top: 8px;
      
      width: 3.5rem;
      margin: auto 0;
      height: 3.5rem;
   } 
  }

  @media (min-width: 948px) and (max-width: 1024px) {
   .nav-bottom{
      margin: 0 0 3% 20%;
      height: 40%;
    }
    .nav-top{
      margin: 0 35% 0 0;
      padding-top: 3px;
    }
      .bottomSpan {
    font-weight: bold;
    font-size: 2.7rem;
    white-space: nowrap;
}
    .topSpan {
    font-size: 2.9rem;
}
     
        .custom-o{
      top: 8px;
      
      width: 3.5rem;
      margin: auto 0;
      height: 3.5rem;
   }
      .menu_text{
         font-size: 1.7rem; 
      }
  }
}


/* --------------------------------------------------------------------------
   Small Screens, Laptops: 769px - 1024px
   -------------------------------------------------------------------------- */
/* Desktop Styles (General) */
@media (min-width: 1025px) and (max-width: 3560px) {

  /* Small Desktops/Laptops */
  @media (min-width: 1025px) and (max-width: 1366px) {
    /* Styles for smaller laptops and desktops (e.g., 1024px - 1366px) */
     .top-nav{
        padding-top: 7px;
        padding-bottom: 5px;
     }
     .nav-top{
    padding-top: 2px ;
      box-sizing: border-box;   
         }
     .topSpan {
    font-size: 1.95rem;
}
     .bottomSpan{
        font-size: 1.75rem;
     }
     .nav-bottom{
        padding-top: 0.1px;
     }
  }

  /* Medium Desktops/Laptops */
  @media (min-width: 1367px) and (max-width: 1920px) {
    /* Styles for typical desktop monitors and laptops (e.g., 1367px - 1920px)
     */
      .top-nav{
        padding-top: 9px;
        padding-bottom: 6.5px;
     }
      .topSpan {
    font-size: 2.7rem;
}
     .bottomSpan{
        font-size: 2.6rem;
     }
     .custom-o{
      top: 7px;
      
      width: 3.65rem;
      margin: auto 0;
      height: 3.65rem;
   } 
  }

  /* Large Desktops */
  @media (min-width: 1921px) {
    /* Styles for larger desktop monitors (e.g., 1921px - 2560px+) */
     .top-nav{
        padding-top: 10px;
        padding-bottom: 7px;
     }
     .topSpan {
    font-size: 3.1rem;
}
     .bottomSpan{
        font-size: 3rem;
     }
     .custom-o{
      top: 7px;
      
      width: 4.2rem;
      margin: auto 0;
      height: 4.2rem;
   } 
  }  
  
}
